.main{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}
.first-col{
    height: 100%;
    min-width: 200px;
    box-sizing: border-box;
    border: black 1px solid;
}
.second-col{
    height: 100%;
    width: 100%;
    min-width: 100px;
    box-sizing: border-box;
    border: black 1px solid;
}
.third-col{
    height: 100%;
    min-width: 300px;
    box-sizing: border-box;
    border: black 1px solid;
}